.contact-content{
    display: flex;
    gap: 60px;
    flex-direction: row;
}
.contact .contact-content{
    flex-direction: row-reverse;
}
.contact-content div:first-child{
    padding-bottom: 0;
}
.contact-welcome{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
}
.contact input[type=text], .contact input[type=email], .contact select{
    width: 100%;
    background-color: transparent;
    color: #FFF;
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.contact option{
    background-color: var(--dark-color);
}
.contact textarea{
    width: 100%;
    background-color: transparent;
    color: #FFF;
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    resize: none;
}
.contact input[type=checkbox]{
    margin: 0 5px 1rem 0;
}
.checkbox-group{
    margin-bottom: 10px;
}
.checkbox-group label a{
    color: rgba(128, 128, 128);
    text-decoration: underline;
}
.contact input[type=submit]{
    padding: 10px 20px;
    border: 0;
    border-radius: 2.5px;
    background-color: #FFF;
    color: var(--dark-color);
}
.contact input[type=submit]:hover{
    background-color: var(--dark-color);
    color: #FFF;
    box-shadow: 0.75px 0.75px 0  rgb(0 0 0 / 75%);
}
.contact-content .contact-me-title{
    display: none;
}
.contacts-list{
    width: 100%;
    /* padding: 40px 0 0; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.contacts-list li {
    background-color: #1e1e1e;
    color: #FFF;
    padding: 10px 12.5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-list li a{
    color: inherit;
    /* text-align: center; */
}
@media only screen and (max-width: 991.98px){
    .contact-content{
        flex-direction: column;
        gap: 20px;
    }
    .contact .contact-content{
        flex-direction: column;
        gap: 15px;
    }
    .contact-content .contact-me-title{
        display: flex;
    }
    .contacts-list{
        padding: 40px 0 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
@media only screen and (max-width: 575.98px){
    .contacts-list{
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;
    }
}