:root{
    --primary-padding: 20px;
    --dark-color: #121212;
    --dark-color-2: #121212;
}
*{
    box-sizing: border-box;
    outline:0;
}
/* @font-face {
    font-family: myFirstFont;
    src: url(css/.woff);
} */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: #FFF;
    background-color: var(--dark-color); 
    font-family: sans-serif;
    transition: background-color 2s ease-in-out;
    position: relative;
    height: 100vh;
}
body::before {
    background-color: rgb(27, 27, 27);
    opacity: 0;
    z-index: -1;
}
body::after, body::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
body::after {
    background-color: rgb(18, 18, 18);
    opacity: 1;
    z-index: -2;
}
.blend {
    background: none;
    mix-blend-mode: difference;
}
h1{
    font-size: 150px;
    font-weight: 700;
    /* line-height: 100%;  */
    margin-top: 2em; 
}
.heading-type-1{
    text-indent: -5px;
    margin-top: 0;
    margin-bottom: 12px;
    color: transparent;
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px; */    
}
.heading-type-1 span:nth-child(2) {
    display: none;
}
.fade-in__gradient{
    animation: 0.8s ease 0.4s 1 normal backwards running fadeIn, 10s ease 0s infinite normal both running intro-gradient;
}
.fade-in{
    will-change: transform, opacity;
    animation: 0.8s ease 0.4s 1 normal backwards running fadeIn;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
.heading-type-2{
    font-size: 85px;
    /* font-weight: 700; */
    /* line-height: 135%; */
    margin-top: 1.5em;
    margin-bottom: 35.275px;
    letter-spacing: 4px;
    text-align: center;
    animation: 10s ease 0s infinite normal both running intro-gradient;
}
.heading-type-bold{
    font-size: 120px;
}

.outline-text{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-font-smoothing: antialiased;
}
.outline-title{
    font-size: 16vw;
    font-family: Averta, sans-serif;
    line-height: 18vw;
    
    -webkit-text-stroke-color: rgb(206, 202, 227);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
.m-auto{
    margin: auto !important;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.m-0{
    margin: 0 !important;
}
.ml-auto{
    margin-left: auto;
}
a{
    text-decoration: none;
}
/* Reusamble classes Library (custom) */
.px-auto{
    padding-left: 120px;
    padding-right: 120px;
}
.p-none{
    padding: 0;
}
.p-1{
    padding: 20px;
}
.pt-1{
    padding-top: 20px;
}
.pl-1{
    padding-left: 20px;
}
.pb-1{
    padding-bottom: 20px;
}
.pr-1{
    padding-right: 20px;
}
.px-1{
    padding-left: 20px;
    padding-right: 20px;
}
.py-1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pb-3{
    padding-bottom: 30px;
}
.w-100{
    width: 100%;
}
.fill-height{
    height: calc(100vh - 60px);
}
p{
    color: rgba(128, 128, 128);
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}
p.desc{
    margin-top: 10px;
    margin-bottom: var(--primary-padding);
    font-size: 14px;
    /* line-height: 1.9; */
    max-width: 448.8px;
    text-align: end;
}
.border-color{
    border-color: rgba(219 219 219 / 20%) !important;
}
.border-color-white{
    border-color: #FFF;
}
.nav-open{
    transform: translate3d(0, 0, 0) !important;
}
div.sidenav{
    padding: 60px 120px var(--primary-padding);
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translate3d(-100%, 0, 0);
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(18, 18, 18, 0.5); 
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 20;
    transition: transform 0.75s ease 0s;
}
.sidenav-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
.sidenav-body>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sidenav-body ul{
    width: 100%;
}
ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-list{
    font-size: 24px;
    margin: 44px 0;
    line-height: 125%;
    text-align: center;
}
.nav-list a{
    color: #FFF;
}
.nav-list a:hover {
    text-shadow: rgba(219, 219, 219, 0.65) 0px 1.5px 1px;
}
.contact-me-title{
    margin: var(--primary-padding) 0;
    display: flex;
    text-align: center;
}
.contact-me-title::before, .contact-me-title::after{
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    height: 0.5px;
    margin: 8.5px 0 0;
    width: 100%;
    display: inline-block;
}
.contact-me-title span{
    padding: 0 10px;
    position: relative;
    display: inline;
    white-space: nowrap;
}
.contact-me-title span a{
    color: #FFF;
}
.socialsgroup{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 15px 0;
}
.socials-list{
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 50%;
}
.socials-list a{
    color: #fff;
    display: inline-flex;
    align-items: center;
}
.text-align-center{
    text-align: center;
}
.nig-word{
    display: inline;
}
small a{
    color: inherit;
}
/* main{
    
} */
.first-section{
    height: 100vh;/*calc(100vh - 30px)*/
    padding: 0 120px 95px;
    position: relative;
    overflow: hidden;
}
.first-section-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 100%;
}
nav{
    padding: 30px 120px 0;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 25;
}
nav .logo-text-link{
    line-height: 1.6;
    font-size: 18.75px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 0;
    color: rgb(237, 237, 237);
}
.nav-link{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-link a, .nav-list span{
    color: white;
}
/* .logo {
    font-size: 25px;
    font-family: dancing script;
} */
.theme-mode {
    
}
.btn-inline-arrow{
    padding: 0;
    background-color: transparent;
    transition: all .5s cubic-bezier(.25,.46,.45,.94);
    outline: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.arrow-container{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 1rem;
    margin-left: auto;
    visibility: hidden;
    display: none;
}
.arrow{
    width: 60px;
    height: 60px;
    border: 0.5px solid rgb(219 219 219 / 20%);
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
    outline: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.prev-arrow{
    margin-right: 12px;
}
/* .next-arrow{

} */
.icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
    z-index: 2;
    color: #FFF;
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
    margin: 0;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.second-section{
    max-height: 100vh;
    padding: 0 120px 60px;
    position: relative;
    overflow: hidden;
}
.second-section-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 60px;
}
.subtitle-right{
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
}
h3{
    /* font-size: 24px; */
    /* font-weight: 500; */
    margin: 0;
    /* line-height: 1; */
    font-size: 8vw;
    line-height: 10vw;
    
    font-family: Averta, sans-serif;
    
    color: transparent;
    -webkit-text-stroke-color: rgb(206, 202, 227);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
.wid-content p{
    line-height: 1.9;
}
.read-more a, .read-more a:hover, .read-more a:active, .read-more a:visited{
    color: #FFF;
}
.lg-mt-0{
    margin-top: 0;
}
.third-section{
    padding: 45px 0;
    position: relative;
    overflow: hidden;
    height: 660px;
}
.third-section-content{
    height: 100%;
}
.third-section-content>div:first-child{
    margin: 24px 120px;
}
.fourth-section{
    padding-top: 120px;
    position: relative;
    overflow: hidden;
}
.fourth-section-content{
    height: 100%;
}
.config-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 120px 0;
}
.config-item{
    background: #1e1e1e;
    color: rgb(128,128,128);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 125px;
    border-radius: 1rem;
}
.config-value{
    display:block;
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
}
.config-sub, .config-value sup{
    font-size: 18px;
}
.fifth-section{
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}
.fifth-section-content{
    height: 100%;
}
div.name-scroll{
    width: 100%;
    display: flex;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
div.name-scroll div{
    color: rgba(255,255,255,0.065);
    font-size: 5.5em;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
    word-spacing: 45px;
    -webkit-tap-highlight-color: transparent;
}
div.name-scroll div:nth-child(2){
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}
@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
div.name-scroll div span{
    color: rgba(255,255,255,0.065);
}
.works-list{
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.works-list ul{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* padding-left: 120px; */
    padding: 4px 0 20px;
    scroll-snap-type: x mandatory;
}
.custom-scroll::-webkit-scrollbar {
    height: 3.5px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.works-list ul li{
    min-width: 275px;
    margin-right: 20px;
    height: fit-content;
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    scroll-snap-align: center;
}
.works-list ul li:hover{
    /* border: 2px solid rgb(251 24 24);
    border-radius: 1rem; */
}
.works-list ul li::before {
    content: "";
    background: linear-gradient(130deg, rgb(255, 122, 24), rgb(175, 0, 45) 41.07%, rgb(49, 145, 151) 76.05%)  0% 0% / 200% 200%;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 1rem;
    animation: 10s ease 0s infinite normal both running intro-gradient;
    display: none;
}
.works-list ul li:hover::before{
    display: block;
}
.works-list ul li:first-child{
    margin-left: 120px;
}
.works-list ul li:last-child{
    margin-right: var(--primary-padding);
    position: relative;
    overflow: visible;
}
.works-list ul li:last-child::after {
    content: '';
    width: 120px;
    position: absolute;
    top: 0;
    right: -120px;
    height: 100%;
}
.works-list ul li img{
    display: block;
    filter: grayscale(1);
    width: 100%;
    height: auto;
    /* border: 0.5px solid rgb(219 219 219 / 20%);#808080 */
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
    /* border-bottom: 0; */
    transition: filter 0.1s ease-in-out 0.1s;
}
.works-list ul li img:hover, .works li img:hover{
    filter: grayscale(0);
}
.works-list ul li:last-child img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.works-list ul li div:nth-child(1){
    /* height: 50%; */
    border: 0px  solid;
    border-radius: calc(1rem - 2px) calc(1rem - 2px) 0 0;
    overflow: hidden;
}
.works-list ul li div:nth-child(2){
    padding: 18.33px 12.22px 12.22px;
    border: 0.5px solid;/* #808080 */
    border-top: 0;
    border-radius: 0 0 calc(1rem - 2px) calc(1rem - 2px);
    min-height: 200px;
}
.works-list ul li:hover div:nth-child(2){
    background-color: var(--dark-color);
}
.works-list ul li:hover>div{
    border: 0;
}
.works-list ul li div h6{
    font-size: var(--primary-padding);
    font-weight: 300;
    margin: 0;
    min-height: 60px;
    line-height: 140%;
    letter-spacing: 1.75px;
}
.works-list ul li div p{
    margin: 0;
    font-size: 11.75px;
    height: 65.937809px;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}
.works-list ul li div a{
    appearance: button;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-align: center;
    /* color: #FFF; */
    /* background-color: #1e1e1e; */
    border: 0;
    border-radius: .25rem;
    padding: 12.99px; 
    cursor: grab;
    min-width: 50%;
    z-index: 2;
    background: linear-gradient(91.36deg, rgb(236, 166, 88) 0%, rgb(243, 145, 166) 13.02%, rgb(225, 136, 195) 25.52%, rgb(165, 141, 227) 37.5%, rgb(86, 171, 236) 49.48%, rgb(115, 126, 183) 63.02%, rgb(200, 99, 140) 72.92%, rgb(221, 93, 87) 84.38%, rgb(223, 108, 81) 97.92%) 0% 0% / 200% 200%;
    color: var(--dark-color) !important;
    /* float: right; */
}
.works-list ul li div button:hover{
    background-color: #FFF;
    color: var(--dark-color);
    border: 0;
}
.works-list-arrows{
    width: fit-content;
    margin-left: auto;
    margin-right: var(--primary-padding);
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: var(--primary-padding);
}
/* ---- FOR WORKS VIEW ---- */
.wks-section-1{
    padding: 0px 120px;
}
.wks-section-2{
    padding: 60px 120px;
}
.works{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: visible !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
}
.works li{
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: calc((100% - 40px) / 3);
    min-width: auto !important;
}
.works li:first-child{
    margin-top: 0 !important;
}
.works li:last-child::after{
    display: none;
}
.works li img{
    height: auto !important;
}
.works button{
    background-color: #FFF !important;
    color: var(--dark-color) !important;
}
.works button:hover{
    background-color: #1e1e1e !important;
    color: #FFF !important;
}
/* ---- END WORKS STYLE */
.wg-arow-left{
    stroke: #FFF;
}
.wg-arow-right{
    stroke: #FFF;
}
.fourth-section-content figure{
    margin: 0;
}
.fourth-section-content figure img{
    width: 100%;
    height: auto;
}
.fourth-section-content figure figcaption{
    color: rgb(219 219 219 / 20%);
    text-align: end;
    margin-top: 10px;
}
.fifth-section-content>div:first-child, .fourth-section-content>div:first-child{
    margin: 24px 120px;
}
.testimonials{
    max-width: 100%;
    text-align: center;
}
.scroller{
    overflow-x: scroll;
    display: flex;
    padding-top: 37.5px;
    padding-left: 120px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.testimonial-card{
    min-width: calc((100vw - (var(--primary-padding) * 6)) / 3);
    border-radius: 1rem;        
    /* box-shadow: 0.75px 0.75px 0.75px 0px rgba(8, 8, 8, 0.75); */
    box-shadow: 0.75px 2px 2px -2px rgb(0 0 0);
    scroll-snap-align: center;
    background-color: #1e1e1e;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    overflow: visible;
    min-height: 180px;
}
.testimonial-card:not(:last-child){
    margin-right: 20px;
}
.testimonial-card:last-child{
    margin-right: 120px;
}
.testimonial-card .avatar{
    border: 7.5px solid var(--dark-color);
    border-radius: 50%;
    width: 75px;
    position: absolute;
    top: -37.5px;
    left: calc(50% - 37.5px);
}
.testimonial-content p{
    font-size: 11.75px;
    margin-top: 47.5px;
    text-align: center;
}
.testimonial-content span{
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
    left: 0;
}
.test-arrows{
    width: fit-content;
    margin-left: auto;
    padding-top: 10px;
    margin-right: var(--primary-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--primary-padding);
}
.test-arrows-2{
    display: none;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: 120px;
}
.test-arrows-2>span{
    position: absolute;
    left: calc(50% + 10px);
    top: calc(50% + 3px);
    transform: translate(-50%,-50%);
    font-size: 12px;
    color: rgba(128, 128, 128);
}
.test-arrows-2 div:nth-child(2){
    display: grid;
    padding-top: 10px;
    gap: var(--primary-padding);
    grid-template-columns: 1fr 1fr;
}
.accordion{
    padding: 0 120px;
}
.accordion-item{
    padding-top: 15px;
    border-bottom: 0.5px solid rgb(219 219 219 / 20%);
}
.accordion-item:first-child{
    padding-top: 0;
}
.accordion-item:first-child div{
    padding-top: 0;
}
.accordion-item:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.accordion-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.acc p{
    margin: 0;
    line-height: 2.1;
}
.acc input, .acc textarea{
    padding: 10px;
    background-color: transparent;
    color: rgb(219 219 219 / 0.65);
    border: 0.5px solid rgb(255 255 255 / 100%);
    border-radius: .25rem;
    resize: none;
}
.accordion details:first-child{
    padding-top: 0 !important;
}
details{
    border-bottom: 0.5px solid rgb(219 219 219 / 20%);
}
details:last-child{
    border-bottom: 0;
}
details summary::-webkit-details-marker{
    display: none;
}
details summary{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
summary h5{
    margin: 0;
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 2;
    font-weight: 400;
}
details[open] summary h5 {
    font-weight: 700;
}
.accordion-flush{
    height: 30px; 
    transition: transform .5s ease 0s;

}
.accordion-flush polyline{
    stroke: #FFF !important;
}
.accordion-flush:hover{
    border: 0.5px solid rgb(219 219 219 / 20%);
    border-radius: 50%;
}
details[open] .acc{
    border-top: 0.5px dashed rgb(219 219 219 / 20%);
}
details[open] .accordion-flush{
    transform: rotate(180deg);
}
.acc{
    padding: 12.5px 5px;
}
.acc ul li{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 300;
    /* line-height: 2.1em; */
    padding: 6.5px 0;
    letter-spacing: 0;
}
.acc>p>a{
    color: #FFF;
}
.acc>p>a:hover{
    text-decoration: underline;
}
.acc ul li a{
    color: rgba(219 219 219 / 0.65);
}
.acc ul li a:hover{
    text-decoration: underline;
}
.acc .input-container{
    margin-top: 13px;
    justify-content: space-between;
}
.accordion-submit{
    color: rgb(219 219 219 / 0.65) !important;
}
.accordion-submit:hover{
    background-color: #FFF !important;
    color: var(--dark-color) !important;
    border-color: rgb(219 219 219 / 0.65);
}
.textarea-container{
    display: flex;
    flex-direction: column;
}
.textarea-submit{
    margin-top: 8px;
}
.acc ul li input[type=text]{
    width: 100%;
}
.input-submit{
    color: rgb(219 219 219 / 0.65) !important;
    margin-left: 6.5px;
}
.location-container{
    width: 100%;
    display: flex;
    padding-top: 20px;
}
.location-container>div{
    margin: auto;
    display: inline;
}
.dark-theme-loc{
    display: inline;
}
.light-theme-loc{
    display: none;
}
.location-container>div>span{
    margin-top: 5px;
}
footer{
    width: 100%;
    padding: 30px 0 53px;
}
footer>span{
    color: rgba(128, 128, 128);
    display: block;
    text-align: center;
    font-size: 12px;
}
.fluid-gradient-heading {
    color: transparent;
    background: linear-gradient(91.36deg, rgb(236, 166, 88) 0%, rgb(243, 145, 166) 13.02%, rgb(225, 136, 195) 25.52%, rgb(165, 141, 227) 37.5%, rgb(86, 171, 236) 49.48%, rgb(115, 126, 183) 63.02%, rgb(200, 99, 140) 72.92%, rgb(221, 93, 87) 84.38%, rgb(223, 108, 81) 97.92%) 0% 0% / 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
@keyframes intro-gradient{
    0% {
        background-position: 0% 4%;
    }

    50% {
        background-position: 100% 97%;
    }
    100% {
        background-position: 0% 4%;
    }
}
/* About Page */
/* .about-image{
    margin-left: 120px;
} */
/* 404 Page */
.cover-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-page .cover-section{
    height: calc(100vh - 60px);
}
/* Jobs Page */
.jobs-page .cover-section{
    min-height: calc(100vh - 60px);
}
.sitelinks-container a{
    color: rgba(128, 128, 128);
}
.text-link{
    padding: 1.05556rem 2.22222rem 0.83333rem;
    color: #FFF;
}
.jobs-list{
    padding: 60px 120px;
    height: auto;
}
.jobs-item{
    display: block;
    background-color: #1e1e1e;
    color: rgb(128,128,128);
    padding: 30px 30px 15px;
    margin-bottom: 30px;
    border-radius: 1rem;
    border-bottom: 0;
}
.jobs-item .accordion-flush::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    border: 1px solid rgb(219 219 219);
    border-radius: 50%;
    top: -5px;
    left: -5px;
    position: absolute;
    z-index: -1;
    background: var(--dark-color);
}
.jobs-item .acc{
    padding: 11.5px 0 15px;
}
.jobs-item .acc ul li:last-child{
    padding-bottom: 0;
}
.jobs-item summary{
    padding: 0 0 15px;
}
.jobs-item summary h5{
    font-size: 16px;
    line-height: normal;
}
.jobs-item summary .accordion-flush{
    height: 18px;
    position: relative;
    z-index: 1;
}
.jobs-item summary .accordion-flush:hover{
    border: 0;
}
.jobs-button{
    border: 0;
    border-radius: 0.35rem;
    background: linear-gradient(91.36deg, rgb(236, 166, 88) 0%, rgb(243, 145, 166) 13.02%, rgb(225, 136, 195) 25.52%, rgb(165, 141, 227) 37.5%, rgb(86, 171, 236) 49.48%, rgb(115, 126, 183) 63.02%, rgb(200, 99, 140) 72.92%, rgb(221, 93, 87) 84.38%, rgb(223, 108, 81) 97.92%) 0% 0% / 200% 200%;
    color: var(--dark-color) !important;
    padding: 8px 12px;
    min-width: 140px;
    text-align: center;
    text-decoration: none !important;
    animation: 10s ease 0s infinite normal both running intro-gradient;
}

/*WIDTH RESPONSIVENESS */
@media only screen and (max-width: 1035.98px){
    /* .works {
        gap: 30px;
    }
    .works li {
        width: calc((100% - 40px) / 3);
    } */
}
@media only screen and (max-width: 991.98px){
    div.sidenav, .second-section{
        padding: 60px 60px 45px;
    }
    nav, .first-section, .second-section,.wks-section-1, .px-auto{
        padding-left: 60px;
        padding-right: 60px;
    }
    h1{
        font-size: 90px;
        line-height: 115%;
    }
    .third-section{
        padding: 30px 0;
    }
    .third-section-content>div:first-child{
        margin-left: 60px;
        margin-right: 60px;
    }
    /* .works-list ul{
        padding-left: 60px;
    } */
    .works{
        gap: 20px;
    }
    
    .works li{
        width: calc((100% - 20px) / 2);
    }
    .works-list ul li:first-child{
        margin-left: 60px;
    }
    .config-box{
        grid-template-columns: 1fr 1fr;
        padding: 30px 60px;
    }
    .fifth-section-content>div:first-child, .fourth-section-content>div:first-child {
        margin: 24px 60px;
    }
    .scroller{
        padding-left: 60px;
    }
    .testimonial-card {
        min-width: calc((100vw - (var(--primary-padding) * 2)) / 2.5);
        min-height: 184px;
    }
    .accordion {
        padding: 0 60px;
    }
    .wks-section-2 {
        padding: 60px;
    }
    .jobs-list{
        padding: 60px;
    }
    /* AboutPage */
    .about .sub-section-2{
        padding: 20px 60px;
    }
    .about-image{
        padding: 0;
        margin-left: 60px;
        width: calc(100% + 60px);
    }
}
@media only screen and (max-width: 767.98px){
    .px-auto{
        padding-left: 40px;
        padding-right: 40px;
    }
    nav{
        padding: 25px 40px 0;
    }
    section.first-section{
        height: calc(100vh - 45px);
        padding: 0 40px 75px;
    }
    div.sidenav{
        padding: 55px 40px 25px;
    }
    .second-section{
        padding: 40px;
        min-height: 100vh;
        max-height: fit-content;
    }
    .second-section-content{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    h3{
        font-size: 15vw;
        line-height: 18vw;
    }
    .lg-mt-0{
        margin-top: 24px;
    }
    .third-section{
        padding: 25px 0;
    }
    .third-section-content>div:first-child {
        margin: 24px 40px;
    }
    .works-list ul li:first-child {
        margin-left: 40px;
    }
    .works-list ul li:last-child::after{
        width: 40px;
        right: -40px;
    }
    .works-list ul{
        padding-left: 0;
    }
    .wks-section-1{
        padding: 0px 40px;
    }
    .wks-section-2{
        padding: 40px;
    }
    .works{
        gap: 20px;
    }
    .works li img{
        height: auto !important;
    }
    .config-box{
        padding: 40px 40px 0;
    }
    .fourth-section{
        padding-top: 40px;
    }
    .fifth-section{
        padding: 40px 0;
    }
    .fifth-section-content>div:first-child, .fourth-section-content>div:first-child{
        margin: 24px 40px;
    }
    .scroller{
        padding-left: 40px;
    }
    .testimonial-card:last-child{
        margin-right: 40px;
    }
    .test-arrows-2 {
        margin-right: 40px;
    }
    .accordion{
        padding: 40px 40px 0;
    }
    footer{
        padding: 25px 40px 33px;
    }
    .about .sub-section-2{
        padding: 20px 40px;
    }
    .about-image{
        margin-left: 40px;
        width: calc(100% + 40px);
    }
    .jobs-list{
        padding: 40px;
    }
    .jobs-item{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 660.98px){
    .heading-type-2{
        text-align: left;
        font-size: 72px;
    }
    .works{
        flex-wrap: wrap;
    }
    .works li{
        width: 100%;
    }
    .works li img{
        height: auto !important;
    }
    .testimonial-card {
        min-width: calc((100vw - (var(--primary-padding) * 2)) / 2);
        min-height: 174px;
    }
}
@media only screen and (max-width: 575.98px){
    .px-auto{
        padding-left: 20px;
        padding-right: 20px;
    }
    nav{
        padding: 30px var(--primary-padding) 0;
    }
    div.sidenav{
        padding: 60px var(--primary-padding) var(--primary-padding);
    }
    section.first-section{
        height: calc(100vh - 10px);
        padding: 0 var(--primary-padding) 86px;
    }
    b br{
        display: inline;
    }
    .socialsgroup{
        justify-content: space-evenly;
    }
    .heading-type-1 span:nth-child(2) {
        display: block;
    }
    .heading-type-1 span:first-child {
        display: none;
    }
    .second-section{
        padding: 0px var(--primary-padding) 0;
    }
    .third-section{
        padding: var(--primary-padding) 0;
        margin: 40px 0;
    }
    .third-section-content>div:first-child{
        margin: 24px  var(--primary-padding);
    }
    .works-list ul{
        padding-left: 0;
    }
    .works-list ul li:first-child {
        margin-left: 20px;
    }
    .works-list ul li:last-child::after{
        width: 20px;
        right: -20px;
    }
    .works-list ul::-webkit-scrollbar, .scroller::-webkit-scrollbar {
        display: none;
    }
    .works-list-arrows{
        display: grid;
    }
    .works li{
        width: 100%;
    }
    .wks-section-1{
        padding: 0px 20px;
    }
    .wks-section-2{
        padding: 20px;
    }
    .works{
        gap: 10px;
    }
    .works li img{
        height: auto!important;
    }
    .works li div{
        /* height: auto !important; */
    }
    .fourth-section{
        padding-top: 20px;
    }
    .config-box{
        padding: 20px 20px 0;
    }
    .fifth-section{
        padding: 20px 0 50px;
        margin-top: 40px;
    }
    .fifth-section-content>div:first-child, .fourth-section-content>div:first-child {
        margin: 24px var(--primary-padding);
    }
    .scroller{
        padding-left: var(--primary-padding);
    }
    .testimonial-card{
        min-width: calc(100% - var(--primary-padding));
        min-height: 180px;
    }
    .testimonial-card:last-child, .test-arrows-2{
        margin-right: var(--primary-padding);
    }
    .test-arrows-2{
        display: block;
    }
    .accordion{
        padding: 20px var(--primary-padding) 0;
    }
    footer{
        padding: 20px;
    }
    .about .sub-section-2{
        padding: 20px;
    }
    .about-image{
        margin-left: 20px;
        width: calc(100% + 20px);
    }
    .jobs-list{
        padding: 40px 20px 25px;
    }
    .jobs-item{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 467.2px){
    .nig-word{
        display: none;
    }
    .works-list ul li{
        min-width: calc(100vw - 60px);
        /* min-height: calc(275px * 1.4); */
        margin-right: 12.5px;
    }
    /* .works-list ul li:first-child {
        margin-left: 20px;
    } */
    .works-list ul li img{
        height: auto;
    }
    .works-list ul li div:nth-child(2){
        padding: 21px 14px 14px;
        /* height: calc(149px * 1.4); */
    }
    .works-list ul li div h6 {
        font-size: 21px;
        min-height: 52px;
    }
    .works-list ul li div p{
        height: 78.9px;
    }
    .works-list ul li div a{
        padding: 14px;
        margin-top: 7px;
    }
    .works{
        gap: 20px;
    }
    .works li{
        margin-right: 0 !important;
        max-width: 100% !important;
    }
    .wks-section-2{
        padding:  var(--primary-padding) var(--primary-padding) 1px;;
    }
}
/* HEIGHT RESPONSIVENESS */
@media only screen and (min-height: 1024px) and (min-width: 980px){
    .first-section{
        height: 625px;
    }
    .second-section{
        min-height: 525px;
    }
    .third-section{
        min-height: 30vh;
        /* max-height: 275px; */
    }
    .fourth-section{
        /* min-height: 525px; */
    }
    .fifth-section{
        min-height: 550px;
    }
    .testimonial-card {
        min-width: calc(100% - var(--primary-padding));
    }
}
